# Ignore arquivos de configuração do Visual Studio Code
.vscode/

# Ignore arquivos de configuração do Eclipse
.settings/
# Ignore arquivos compilados binários e classes
bin/
*.class

# Ignore arquivos de configuração do IntelliJ IDEA
.idea/

# Ignore arquivos JAR no diretório de bibliotecas
lib/*.jar

# Ignore diretório de informações de META
META-INF/

# Ignore diretório de saída
out/

# Ignore arquivo de configuração do IntelliJ
Lol Arena.iml